<style>
    .stat_icon {
        height: 2.5em;
        width: 2.5em;
        /* margin:auto; */
        border-radius: 50%;
        font-size: 30px;
        line-height: 2.5em;
        text-align: center;
        box-shadow: 1px 1px 1px 1px rgb(226, 226, 226);
    }

    .stat_fig {
        font-size: 25px;
        font-weight: 600;
        color: rgb(58, 58, 58);
        padding-top: 10px;
    }

    .stats_desc {
        /* font-weight: 300; */
        color: rgb(150, 150, 150);
        padding-top: 10px;
        font-size: 15px;
    }
</style>

<div class="ui grid" style="margin-top: 10px; background: rgb(241, 241, 241);">
    <div class="sixteen wide column" style="border-bottom: 1px solid rgb(202, 202, 202);">
        <h4>
            Dashboard
        </h4>
    </div>


    <div class="eleven wide column" style="border-right: 1px solid rgb(202, 202, 202);">

        <div class="ui grid">

            <div class="sixteen wide column">

                <div class="ui three column grid">
                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(184, 0, 0);background: rgba(255, 0, 0, 0.555);">
                                            <i class="users icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalUsers stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Total Users
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(0, 101, 184);background: rgba(17, 0, 255, 0.555);">
                                            <i class="users icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalLawyers stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Lawyers
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(144, 184, 0);background: rgba(238, 255, 0, 0.555);">
                                            <i class="users icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalPolice stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Police
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(52, 184, 0);background: rgba(81, 255, 0, 0.555);">
                                            <i class="folder icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalCases stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Cases
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(184, 0, 144);background: rgba(255, 0, 255, 0.555);">
                                            <i class="exchange icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalAssignments stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Assignments
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(0, 184, 138);background: rgba(0, 255, 191, 0.555);">
                                            <i class="university icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalStations stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Stations
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="re column">
                        <div class="ui segment">
                            <div class="stat_panel">
                                <div class="ui grid">
                                    <div class="six wide column">
                                        <div class="stat_icon"
                                            style="color:rgb(0, 184, 138);background: rgba(0, 255, 191, 0.555);">
                                            <i class="users icon"></i>
                                        </div>
                                    </div>

                                    <div class="ten wide column">
                                        <div class="totalPublic stat_fig">
                                            0
                                        </div>

                                        <div class="stats_desc">
                                            Public
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="five wide column">
        <div class="profileContainer">
            <div class="avator"
                style="width: 10em;height: 10em;margin: auto;background: rgba(0, 0, 255, 0);border-radius: 50%;overflow: hidden;">
                <img src="../assets/images/51f6fb256629fc755b8870c801092942.png" alt="avator" width="100%"
                    height="100%">
            </div>

            <div class="" style="padding: 1em;">
                <div class="profileName"
                    style="font-weight: 600;padding-top: 1em;border-bottom: 1px solid rgb(204, 204, 204);padding-bottom: 5px;">
                    Name: <span class="pname">

                    </span>
                </div>

                <div class="profileName"
                    style="font-weight: 600;padding-top: 1em;border-bottom: 1px solid rgb(204, 204, 204);padding-bottom: 5px;">
                    Username: <span class="pname">

                    </span>
                </div>

                <div class="profileName"
                    style="font-weight: 600;padding-top: 1em;border-bottom: 1px solid rgb(204, 204, 204);padding-bottom: 5px;">
                    Phone: <span class="pphone">

                    </span>
                </div>

                <div class="profileName"
                    style="font-weight: 600;padding-top: 1em;border-bottom: 1px solid rgb(204, 204, 204);padding-bottom: 5px;">
                    Email: <span class="pemail">

                    </span>
                </div>

                <div class="profileName"
                    style="font-weight: 600;padding-top: 1em;border-bottom: 1px solid rgb(204, 204, 204);padding-bottom: 5px;">
                    Status: <span class="pstatus">

                    </span>
                </div>



                <div class="logout" onclick="logout()" style="padding-top: 2em;text-align: center;">
                    <button class="logoutBtn ui blue basic button">
                        <i class="power icon"></i> Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // alert(profile);

    $.post('server/getProfile.php', (data) => {

        // alert(data);
        let profile = JSON.parse(data);

        // console.log(profile);

        $('.pname').html(profile.name);
        $('.pphone').html(profile.phone);
        $('.pemail').html(profile.email);
        $('.ptown').html(profile.town);
        $('.pstatus').html(profile.status);

    })


    // get home page stats 
    $.post('server/getStats.php', (data) => {

        let stats = JSON.parse(data);

        // htmls 

        $('.totalStations').html(stats.stations);

        $('.totalStations').html(stats.stations);
        $('.totalAssignments').html(stats.assignments);
        $('.totalCases').html(stats.cases);
        $('.totalPolice').html(stats.police);
        $('.totalLawyers').html(stats.lawyers);
        $('.totalUsers').html(stats.totalUsers);
        $('.totalPublic').html(stats.public);


    })


</script>