<div class="ui grid">

    <div class="yello sixteen wide column" style="border-bottom: 1px solid rgb(204, 204, 204);">
        <h4>
            Quick Actions
        </h4>

        <hr>

        <div class="">
            <a href="new-case">

                <button class="green basic mini ui button">New Case</button>
            </a>

            <a href="">
                <button class="teal basic ui mini button">Latest Case</button>
            </a>

            <a href="profile">
                <button class="ui olive basic mini button">Profile</button>
            </a>

            <a href="my-cases">
                <button class="ui red basic mini button">My Cases</button>
            </a>

        </div>
    </div>


</div>